<div class="mb-3 alert alert-success" role="alert">
    Product @ViewBag.Message Successfully.
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            window.location.href = "/"; // Use window.location.href for redirection
        }, 1500);
    })
</script>